/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', monospace;
    line-height: 1.6;
    background-color: #2c2c2c; /* Dark grey background */
    color: #f5f5dc; /* Light text color for readability */
    padding: 0;
}


.home-image{
    padding: 20px;
    align-content: right;
}

.logo {
    font-size: 35px;
    font-weight: 700;
    text-align: left;
    padding: 20px;
    color: #00ff9d;
}

/* Grid Layout for Main Content */
.grid-layout {
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr; /* Left, Center (Main), Right columns */
    gap: 20px;
    padding-top: 120px;
    margin: 0 auto; /* Center the grid layout on the page */
}

/* Grid Layout for Main Content */
.grid-layout-home {
    display: grid;
    grid-template-columns: 1fr 3fr 1.25fr 1.25fr; /* Left, Center (Main), Right columns */
    gap: 20px;
    padding-top: 120px;
    margin: 0 auto; /* Center the grid layout on the page */
}

/* Grid Layout for Main Content */
.grid-layout-practice {
    display: grid;
    grid-template-columns: 1fr 5.5fr; /* Left, Center (Main), Right columns */
    gap: 20px;
    padding-top: 120px;
    padding-right: 40px;
    margin: 0 auto; /* Center the grid layout on the page */
}

/* Grid Layout for Main Content */
.grid-layout-expl {
    display: grid;
    grid-template-columns: 1fr 5.5fr; /* Left, Center (Main), Right columns */
    gap: 20px;
    padding-top: 0px;
    padding-right: 10px;
    margin: 0 auto; /* Center the grid layout on the page */
}

/* Left Sidebar */
.left-sidebar {
    padding: 20px;
    text-align: right;
}

.left-sidebar ul {
    list-style-type: none;
}

.left-sidebar ul li {
    margin-bottom: 15px;
}

.left-sidebar ul li a {
    text-decoration: underline;
    color: #00ff9d;
    font-weight: 400;
    font-size: 20px;
}

/* Main Content */
.main-content {
    padding: 20px;
}

.main-content h2 {
    padding-top: 115px; 
    margin-top: -115px;
    color: #00ff9d;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
}

.main-content h3 {
    padding-top: 115px; 
    margin-top: -115px;
    color: #00ff9d;
    font-weight: 500;
    font-size: 22px;
}

.main-content p {
    font-size: 18px;
    margin-bottom: 23px;
    line-height: 1.3;
}

.main-content ul div {
    font-size: 20px;
}

/* Right Sidebar (Currently empty) */
.right-sidebar {
    width: 23.5%;
    padding: 20px;
    position: fixed;
    top: 120px;
    right: 0;
    height: 100%;
    line-height: 2.2;
    color: #f5f5dc;
    
}

.right-sidebar ul p h2 {
    color: #f5f5dc;
    font-weight: 600;
    font-size: 20px;
}

.right-sidebar ul a h3 {
    text-decoration: underline;
    color: #f5f5dc;
    font-weight: 500;
    font-size: 18px;
}

.right-sidebar ul p a {
    text-decoration: underline;
    color: #00ff9d;
    font-weight: 500;
    font-size: 22px;
}

/* Right Sidebar (Currently empty) */
.right-sidebar1-home {
    width: 40%;
    padding: 20px;
    position: fixed;
    top: 120px;
    right: 0;
    height: 100%;
}

.right-sidebar1-home ul h2 {
    color: #00ff9d;
    font-weight: 600;
    font-size: 22px;
}

.right-sidebar1-home ul h3 {
    color: #00ff9d;
    font-weight: 500;
    font-size: 20px;
}

.right-sidebar1-home ul h3 a {
    text-decoration: underline;
    color: #f5f5dc;
    font-weight: 500;
    font-size: 20px;
}

/* Right Sidebar (Currently empty) */
.right-sidebar2-home {
    width: 30%;
    padding: 20px;
    position: fixed;
    top: 120px;
    right: 0;
    height: 100%;
}

.right-sidebar2-home ul h2 {
    color: #00ff9d;
    font-weight: 600;
    font-size: 22px;
}

.right-sidebar2-home ul h3 {
    color: #00ff9d;
    font-weight: 500;
    font-size: 20px;
}

.right-sidebar2-home ul h3 a {
    text-decoration: underline;
    color: #f5f5dc;
    font-weight: 500;
    font-size: 20px;
}

/* Footer */
footer {
    background-color: #333;
    padding: 16px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr; /* Logo, Title, Navigation */
    text-align: right;
    gap: 20px;
    background-color: #333;
    margin: 0 auto; /* Center the header content */
}

.header-home{
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr; /* Logo, Title, Navigation */
    text-align: right;
    gap: 20px;
    background-color: #333;
    margin: 0 auto; /* Center the header content */
}


/* Styles for the container holding the charts */
.chart-container {
    display: flex;
    justify-content: space-around; /* Align charts side by side */
}

.first-canvas{
    padding-left: 78px;
    flex: 3;
    max-width: 45vw;
    max-height: 120vh;
}

.second-canvas{
    padding-right: 140px;
    flex: 2;
    max-width: 45vw;
    max-height: 120vh;
}

/* Customize input box */
input[type="number"] {
    background-color: #2c2c2c; /* Background color of the input box */
    color: #00ff9d; /* Text color in the input box */
    padding: 5px; /* Padding inside the input box */
    border: 1px solid #00ff9d; /* Border color */
    border-radius: 4px; /* Rounded corners */
    width: 80px; /* Width of the input box */
}

/* Button styling */
.my-button {

    padding: 10px;
    background-color: #00ff9d;
    border: 1px solid #000;
    border-radius: 4px; /* Rounded corners */
    color: #2c2c2c;
    font-weight: 500;
    cursor: pointer;

}

#chartContainer {
    display: none;
    flex-direction: row;
    overflow: hidden;
}


button:hover {
    background-color: #00cc7d; /* Darker shade on hover */
}

#chartContainer {
    position: relative;
    width: 100%;
    height: 1010px;
    display: none;
}

#singleChartOne {
    position: absolute;
    top: 10px;
    left: 230px;
    width: 60%;
}

#singleChartTwo {
    position: absolute;
    left: calc(60% + 220px);
    top: 23px;
    width: 15%;
}

#singleChartThree {
    position: absolute;
    top: 27px;
    width: 15%;
}

#singleChartFour {
    position: absolute;
    bottom: 0px;
    left: 205px;
    width: calc(60% + 25px);
}

canvas {
    width: 100% !important;

}

#myChart {
    height: 500px !important;

}

#mySecondChart {
    height: 460px !important;

}

#myThirdChart {
    height: 460px !important;

}

#myFourthChart {
    height: 500px !important;

}